.featurette {
	margin-top: 150px;
}

.featurette-heading-right,
h3.featurette-heading {
	color: red;
}

.lead,
h3.featurette-heading-title,
h1.featurette-heading-title {
	color: white;
}

.lastPerson {
	margin-bottom: 50px;
}

h3 {
	display: inline;
}
