#jumbo {
  text-align: center;
}

.jumbo {
  background: url("../../img/landingPage/landingPageImg.jpg") no-repeat fixed center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 820px;
  text-align: center;
}

.display-4 {
  padding-top: 4em
}