.my-group .groups-left-section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.my-group .single-card {
  min-height: 200px;
  min-width: 200px;
}

.my-group .single-card-body.card-body {
  align-content: center;
  align-items: center;
}

.my-group .leave-group-button {
  color: white;
  background-color: red;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  border-radius: 20px;
}

.my-group .card-col {
  margin-top: 2rem;
}

.my-group .card-subtitle.member, .my-group .card-subtitle.member-number {
  display: inline;
}

.my-group .float-right, .my-group .member-number, .my-group .card-subtitle.member-number {
  color: red;
}

.my-group .button-group {
  padding: 1rem;
}