.my-group .groups-left-section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.my-group .single-card {
  min-height: 200px;
  min-width: 200px;
}

.my-group .single-card-body.card-body {
  align-content: center;
  align-items: center;
}

.my-group .leave-group-button {
  color: white;
  background-color: red;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  border-radius: 20px;
}

.my-group .card-col {
  margin-top: 2rem;
}

.my-group .card-subtitle.member, .my-group .card-subtitle.member-number {
  display: inline;
}

.my-group .float-right, .my-group .member-number, .my-group .card-subtitle.member-number {
  color: red;
}

.my-group .button-group {
  padding: 1rem;
}

#groups-plot-container {
  position: relative;
  margin: auto;
  padding: 5px; 
  text-align: center;
  font-family: 'Aleo', serif;
}

#group-plot-stat {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #F9423A;
  font-weight: 700;
  font-size: 180%;
}

#group-plot-title {
  text-align: left;
  padding-top: 10%;
  padding-bottom: 5%;
  font-weight: 400;
  font-size: 120%;
  color: #0F1A20;
}

